<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="width=device-width" name="viewport" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <title></title>
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    </style>
  </head>

  <body style="-webkit-text-size-adjust: 100%; background-color: #ffffff">
    <table style="margin: auto">
      <tr>
        <td style="width: 400px">
          <div style="background-color: rgb(255, 191, 117); height: 100vh">
            <h1>{{code}}</h1>
            <p>:)</p>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>
